<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tenant.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @tenant.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tenant.description %>
</p>

<p>
  <strong>Asset:</strong>
  <%= @tenant.asset %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
