<h1>Investor Preferences</h1>
<br>
<%= f.hidden_field :user_id %>
<div class="form-group">
  <label class="col-lg-4 control-label">Title</label>
  <div class="col-lg-8">
    <%= f.text_field :title, placeholder: 'Title', class: "form-control" %>
    <%= render partial: 'shared/help_inline', locals: {model: @investor, attribute: :title} %>
  </div>
</div>
<div class="form-group">
  <label class="col-lg-4 control-label">Price From</label>
  <div class="col-lg-8">
    <%= f.text_field :price_from, placeholder: 'Price from', class: "form-control" %>
    <%= render partial: 'shared/help_inline', locals: {model: @investor, attribute: :price_from} %>
  </div>
</div>
<div class="form-group">
  <label class="col-lg-4 control-label">Price To</label>
  <div class="col-lg-8">
    <%= f.text_field :price_to, placeholder: 'Price to', class: "form-control" %>
    <%= render partial: 'shared/help_inline', locals: {model: @investor, attribute: :price_to} %>
  </div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">Visibility <br/></label>

  <div class="col-sm-8">
    <div class="i-checks"><label> <%= f.radio_button :visibility, :public, type: 'radio' %> <i></i> Public (Visible to search engines) </label></div>
    <div class="i-checks"><label> <%= f.radio_button :visibility, :creconsole, type: 'radio' %> <i></i> Visible to other CREConsole users </label></div>
    <div class="i-checks"><label> <%= f.radio_button :visibility, :private, type: 'radio' %> <i></i> Private (Visible to only myself) </label></div>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-offset-4 col-lg-8">
    <%= f.submit "Save Changes", data: {disable_with: 'Submitting...'}, class: "btn btn-primary btn-md" %>
  </div>
</div>