<%= form_for @investor, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :linked_in, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :linked_in, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fax, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :fax, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price_from, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :price_from, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price_to, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :price_to, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :verified, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :verified, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :principal, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :principal, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subscribed, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :subscribed, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :phone, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :phone_2, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  investors_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
