<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Profile</h2>
</div>
  </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="col-lg-6">
    <div class="contact-box">
      <a href="<%= url_for(edit_user_investor_path(current_user)) %>">
      <div class="col-sm-4">
        <div class="text-center">
          <% if current_user.picture.present? %>
              <img alt="image" class="img-circle" img width="50" height="50" src="<%= current_user.picture_url.to_s %>"/>
          <% else %>
              <img alt="image" class="img-circle" img width="50" height="50" src="<%= image_url 'default.jpg' %>"/>
          <% end %>
          <div class="m-t-xs font-bold"><%= current_user.investor.title %></div>
        </div>
      </div>
      <div class="col-sm-8">
        <h3><strong><%= current_user.full_name %></strong></h3>
        <p><%= current_user.industry_role %></p>
        <address>
          <strong><%= current_user.client.company %></strong><br>
          <%= current_user.address %><br>
          <%= current_user.city %>, <%= current_user.state %> <%= current_user.zip %><br><br>
          <abbr title="Phone">P:</abbr> <%= current_user.phone1 %><br>
          <abbr title="Phone">M:</abbr> <%= current_user.phone2 %><br>

        </address>
      </div>
      <div class="clearfix"></div>
    </a>
  </div>
</div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

  $('.contact-box').each(function () {
    animationHover(this, 'pulse');
  });

});

</script>

<% end %>